[Unit]
Description=VespAI Web Dashboard
After=network.target

[Service]
Type=simple
PermissionsStartOnly=true
User=sysadmin
Group=sysadmin
WorkingDirectory=/home/sysadmin/vespai
ExecStartPre=/usr/bin/mkdir -p /home/sysadmin/vespai/logs
ExecStartPre=/usr/bin/touch /home/sysadmin/vespai/logs/vespai.log
ExecStartPre=/usr/bin/chown sysadmin:sysadmin /home/sysadmin/vespai/logs/vespai.log
ExecStart=/home/sysadmin/vespai/start_vespai_web.sh
Restart=on-failure
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
